<h3>Crop Image</h3>
<%= image_tag @user.image_url(:large).to_s, :id => "cropbox"%>
<%= form_for @user, :html => {:remote => true} do |f| %>
	<% %w[x y w h].each do |attribute| %>
		<%= f.hidden_field "crop_#{attribute}" %>
	<% end %>
	<div class="actions">
		<%= f.submit "Crop" %><%= link_to image_tag("/assets/use_orgional.gif"), cancel_crop_path(@user), :remote => true %>
	</div>
<% end %>
<!--<a class='close-reveal-modal'>&#215;</a>-->